@charset "utf-8";
/* CSS Document */

.titles {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-left:20px;
	font-size:210%;
}
.subTitles {
	font-size:150%;
	margin-left:120px;
	font-weight:bolder;
	text-decoration:underline;
}
.paragrah {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana;
	border:groove;
	text-indent: 50px;
	margin-left:5px;
	margin-right:5px;
}
.bioPics {
	margin:10px;
    width:20%;
}
.bio {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana;
	font-size:80%;
	text-indent: 50px;
}